*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

.head{
    display: flex;
    justify-content: center;
    /* display: inline-block;
    transform: translate(50%); */
}


.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    /* background: url(images-2.jpeg);
    filter: blur(0);
    background-size: cover; */
}


.container{
    background-color:coral;
    height: 400px;
    width: 400px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 0.25rem;
    /* box-shadow: 3px 5px 16px white ; */
}

.in{
    padding: 10px;
    width: 250px;
    margin: 5px;
    text-decoration: none;
    border: none;
    background-color:rgb(83, 128, 129);
    color:white;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.in::placeholder{
    color: black;
}

.but{
    position: fixed;
    top: 450px;
}

.msg{
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 30px;
}

button{
    border: none;
    font-size: 1.5rem;
    padding: 8px;
    border-radius:0.3rem;
    background-color: #B4F8C8;
    color: black;
    box-shadow: 3px 5px 18px;
    transition: scale 1s;
}

button:hover{
    scale: 1.25;
}